# Python virtual environment
venv/
.env


# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# Dependency directories (if any)
node_modules/
dist/
build/

/node_modules

# Environment and testing files
.pytest_cache/
.coverage
coverage.xml
*.cover
